<h1>Lista osób</h1>

<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia listę osób dodanych przez Ciebie do systemu.
	</div>
<% end %>

<table>
  <tr>
		<th>Imię</th>
		<th>Nazwisko</th>
		<th>Drużyna</th>
		<th>Email</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.name %></td>
		<td><%=h person.team ? person.team.name : 'Brak' %></td>
    <td><%=h person.email %></td>
    <td><%= link_to 'Szczegóły', user_person_path(@user, person) %></td>
    <td><%= link_to 'Edycja', edit_user_person_path(@user, person) %></td>
    <td>
			<%= link_to 'Usuń', user_person_path(@user, person), :confirm => 'Czy na pewno trwale usunąć osobę?',
				:method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj osobę', new_user_person_path(@user) %>
