<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia szczegóły osoby.
	</div>
<% end %>
<p>
  <b>Nazwisko:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Imię:</b>
  <%=h @person.first_name %>
</p>

<p>
	<b>Drużyna:</b>
	<%=h @person.team ? @person.team.name : 'Brak' %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Numer telefonu:</b>
  <%=h @person.mobile %>
</p>

<p>
  <b>Opis:</b>
  <%=h @person.description %>
</p>

<p>
  <b>Data urodzenia:</b>
  <%=h @person.date_of_birth %>
</p>


<%= link_to 'Edytuj', edit_user_person_path(@user, @person) %> |
<%= link_to 'List osób', user_people_path(@user) %>
