<h1>Nowa osoba</h1>
<% if show_page_info? %>
	<div id="page-info">
		Przy pomocy tej strony możesz dodać nową osobę.
	</div>
<% end %>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Nazwisko" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Imię" %><br />
    <%= f.text_field :first_name %>
  </p>
	<p>
		<%= f.label "Drużyna" %><br />
		<%= f.select :team_id, @teams %>
	</p>
  <p>
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Numer telefonu" %><br />
    <%= f.text_field :mobile %>
  </p>
  <p>
    <%= f.label "Opis" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Data urodzenia" %><br />
    <%= f.date_select :date_of_birth, :start_year => 1910,
			:end_year => Date.today.year, :use_month_numbers => true %>
  </p>
  <p>
    <%= f.submit 'Dodaj' %>
  </p>
<% end %>

<%= link_to 'Anuluj', people_path %>
