<h1>Turniej <%= @tournament.name %></h1>
<%= link_to 'Edytuj', edit_tournament_path(@tournament) %> |
<%= link_to 'Drużyny', tournament_teams_path(@tournament) %> |
<%= link_to 'Boiska', tournament_fields_path(@tournament) %> |
<%= link_to 'Harmonogram', tournament_schedule_path(@tournament) %> |
<%= link_to 'Graj', play_tournament_path(@tournament) %>
<p>
  <b>Data rozpoczęcia:</b>
  <%=h @tournament.start_date %>
</p>
<p>
  <b>Data zakończenia:</b>
  <%=h @tournament.end_date %>
</p>
<% if @tournament.description.present? %>
<p>
  <b>Opis:</b>
  <%=h @tournament.description %>
</p>
<% end %>
<% if @tournament.organizer.present? %>
<p>
  <b>Organizator:</b>
  <%=h @tournament.organizer %>
</p>
<% end %>


