<ul class="clear">
  <li>
    <%= link_to 'Start', '/' %> 
  </li>
  <% if logged_in? %>
    <li>
  	  <%= link_to 'Ustawienia', user_path(current_user) %>
    </li>
    <li>
  	<%= link_to 'Wyloguj', logout_path %>
    </li>
  <% else %>
    <li>
  	<%= link_to 'Logowanie', login_path %>
    </li>
    <li>
  	<%= link_to 'Rejestracja', register_path %>
    </li>
  <% end %>
</ul>
