<h1>Mecz</h1>
<% if show_page_info? %>
  <div id="page-info">
    Rozegraj mecz.
  </div>
<% end %>
<div id="play-game">
  <% form_for @game do |f| %>
    <h3>
      <%= @game.home_team.name %> - <%= @game.away_team.name %>
      <%= text_field_tag :home_team_score, @home_team_score, :size => 1 %>
      :
      <%= text_field_tag :away_team_score, @away_team_score, :size => 1 %>
      <%#= render_goals @game %>
    </h3>
    <% unless @use_default_pointing_system %>
      <p>
        <%= label_tag "Punkty dla gospodarzy" %>
        <%= text_field_tag :home_team_points, @home_team_points, :size => 1 %>
        <%= label_tag "Punkty dla gości" %>
        <%= text_field_tag :away_team_points, @away_team_points, :size => 1 %>
      </p>
    <% end %>
    <p>
      <%= f.submit 'Zakończ mecz' %>
      <br />
      <%= link_to 'Powrót', play_tournament_path(@game.tournament) %>
    </p>
  <% end %>
  <h3>Składy</h3>
  <h4><%= @game.home_team.name %></h3>
  <%= render :partial => 'squad', :object => @game.home_team.players %>
  <h4><%= @game.away_team.name %></h3>
  <%= render :partial => 'squad', :object => @game.away_team.players %>
</div>
