<h1>Listing game_slots</h1>

<table>
  <tr>
    <th>Tournament</th>
    <th>Start</th>
    <th>End</th>
    <th>Place</th>
  </tr>

<% @game_slots.each do |game_slot| %>
  <tr>
    <td><%=h game_slot.tournament_id %></td>
    <td><%=h game_slot.start %></td>
    <td><%=h game_slot.end %></td>
    <td><%=h game_slot.place %></td>
    <td><%= link_to 'Show', game_slot %></td>
    <td><%= link_to 'Edit', edit_game_slot_path(game_slot) %></td>
    <td><%= link_to 'Destroy', game_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game_slot', new_game_slot_path %>