<h1>New game_slot</h1>

<% form_for(@game_slot) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tournament_id %><br />
    <%= f.text_field :tournament_id %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', game_slots_path %>