<h1>Lista turniejów</h1>
<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia listę turniejów dodanych przez Ciebie do systemu.
	</div>
<% end %>
<table>
  <tr>
    <th>Nazwa</th>
    <th>Data rozpoczęcia</th>
    <th>Data zakończenia</th>
		<th>Organizator</th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%=h tournament.name %></td>
    <td><%=h tournament.start_date %></td>
    <td><%=h tournament.end_date %></td>
    <td><%=h tournament.organizer %></td>
    <td><%= link_to 'Szczegóły', user_tournament_path(@user, tournament) %></td>
    <td><%= link_to 'Edytuj', edit_user_tournament_path(@user, tournament) %></td>
    <td>
			<%= link_to 'Usuń', user_tournament_path(@user, tournament),
				:confirm => 'Czy na pewno trwale usunąć turniej?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj turniej', new_user_tournament_path(@user) %>
