<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia szczegółowe dane turnieju.
	</div>
<% end %>
<p>
  <b>Nazwa:</b>
  <%=h @tournament.name %>
</p>

<p>
  <b>Data rozpoczęcia:</b>
  <%=h @tournament.start_date %>
</p>

<p>
  <b>Data zakończenia:</b>
  <%=h @tournament.end_date %>
</p>

<p>
  <b>Opis:</b>
  <%=h @tournament.description %>
</p>

<p>
  <b>Organizator:</b>
  <%=h @tournament.organizer %>
</p>

<%= link_to 'Edytuj', edit_user_tournament_path(@user, @tournament) %> |
<%= link_to 'Lista turniejów', user_tournaments_path(@user) %> |
<%= link_to 'Typ turnieju', manage_type_user_tournament_path(@user, @tournament) %> |
<%= link_to 'Zarządzaj drużynami', manage_teams_user_tournament_path(@user, @tournament) %> |
<%= link_to 'Harmonogram', schedule_user_tournament_path(@user, @tournament) %>
