<h1>Edycja zawodnika</h1>
<% if show_page_info? %>
	<div id="page-info">
		Przy pomocy tej strony możesz edytować dane zawodnika.
	</div>
<% end %>

<% form_for(@player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Nazwisko" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Imię" %><br />
    <%= f.text_field :first_name %>
  </p>
	<p>
		<%= f.label "Drużyna" %><br />
		<%= f.select :team_id, @teams %>
	</p>
  <p>
    <%= f.label "Numer na koszulce" %><br />
    <%= f.text_field :current_number %>
  </p>
  <p>
    <%= f.label "Pozycja na boisku" %><br />
    <%= f.select :position_id, @positions %>
  </p>
  <p>
    <%= f.label "Opis" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Data urodzenia" %><br />
    <%= f.date_select :date_of_birth, :start_year => 1910,
			:end_year => Date.today.year, :use_month_numbers => true %>
  </p>
  <p>
    <%= f.submit 'Zapisz' %>
  </p>
<% end %>

<%= link_to 'Szczegóły zawodnika', player_path(@player) %> |
<%= link_to 'Lista zawodników', players_path %>
