<% if show_page_info? %>
	<div id="page-info">
		Strona główna systemu.
	</div>
<% end %>
<% if logged_in? %>
	<%= link_to "Turnieje", tournaments_path %> <br />
	<%= link_to "Drużyny", teams_path %> <br />
	<%= link_to "Zawodnicy", players_path %> <br />
	<%= link_to "Osoby", people_path %>
<% else %>
Witamy w aplikacji<br />
Menedżer Turniejów Piłkarskich<br />
<%= link_to 'Zaloguj się', login_path %> lub <%= link_to 'zarejestruj', register_path %>
<% end %>
